.header{
    background-color: #1C2B35;
    color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}
.header img{
    width: 140px;
    padding: 0 100px;
}
.header a{
    text-decoration:  none;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
}
.header a:hover{
    color: #FF9900;
}